{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>IronMan</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat iste quasi quam, repellat eum facilis
            quibusdam
            deleniti. Nulla aspernatur ipsam odit consectetur animi in. Ducimus aut numquam sunt dolor dolore!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, cum architecto, a numquam quam ipsum
            sequi
            illo inventore ullam officia mollitia quos iure earum esse vitae impedit eligendi. Ullam, similique.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/iron-man.jpg" class="img-thumbnail" alt="">
    </div>

</div>

{{> footer }}